extends ../common/layout

block layout-content
  h1 Skills

  a.add-btn(href="/admin/skills/add") Add Skill

  table(border="1")

    tr
      th Name
      th Level
      th Category
      th Actions

    each skill in skills
      tr
        td #{skill.name}
        td #{skill.level}
        td #{skill.category}

        td
          a.btn-edit(href=`/admin/skills/edit?id=${skill._id}`) Edit
          
          a.btn-delete(href=`/admin/skills/delete?id=${skill._id}`) Delete